.name {
  margin-top: 45vh;
  text-align: center;
}

#bar {
  text-align: center;
}

a:link {
  color: rgb(90, 90, 90);
  text-decoration: none;
  padding: 10px;
}

a:visited {
  color: rgb(150, 150, 150);
  text-decoration: none;
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
